.button-base {
  max-width: 158px;
  padding: 9px 15px;
  font-family: @font-family-base;
  font-size: @font-size-button-base;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: @font-color-base;
  background-color: transparent;
  border: 2px solid @green-base;
  border-radius: 2px;
  box-sizing: border-box;
}

.button-base--big {
  width: 207px;
  padding: 15px 29px;
  font-size: @font-size-button-big;
  line-height: 21px;
  border: 3px solid @green-darker;
  border-radius: 3px;
}

.button-base--big-fill {
  background-color: @green-darker;
}
