.feedback-form__input {
  width: 100%;
  padding: 15px;
  font-family: @font-family-base;
  font-size: @font-size-text-smaller;
  line-height: 17px;
  color: fade(@grey-1c, 40%);
  background-color: @white;
  box-sizing: border-box;
}
