.intro {
  padding-top: 68px;
  padding-bottom: 20px;

  @media (min-width: @desktop-width) {
    padding-bottom: 30px;
    padding-left: 56px;
  }
}

.intro__content-container {
  flex: 1 0 auto;
}

.intro__title {
  margin: 0;
  margin-bottom: 19px;
  padding-top: 78px;
  font-size: @font-size-h1-mobile;
  font-weight: 400;
  line-height: 41px;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 24px;
    padding-top: 158px;
    font-size: @font-size-h1-desktop;
    line-height: 110px;
    text-align: left;
  }
}

.intro__text {
  margin: 0;
  margin-bottom: 51px;
  padding-left: 31px;
  padding-right: 31px;
  line-height: 21px;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
    padding-left: 0;
    font-size: @font-size-text-larger;
    line-height: 26px;
    text-align: left;
  }
}

.intro__booking {
  margin: 0 auto;
  margin-bottom: 12px;
  background-image: url("../../img/icons/order-icon.svg");
  background-size: 25px 25px;
  background-position: calc(50% - 57px) 50%;
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 22px;
    background-size: 30px 30px;
    background-position: 37px 50%;
  }
}

.intro__video {
  margin: 0 auto;
  background-image: url("../../img/icons/video-icon.svg");
  background-size: 25px 25px;
  background-position: calc(50% - 43px) 50%;
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    min-width: 200px;
    padding-left: 76px;
    display: inline-block;
    background-size: 30px 30px;
    background-position: 35px 50%;
  }
}
