.main-nav__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: calc(@padding-mobile + 8px);
  padding-right: calc(@padding-mobile + 8px);
  border-bottom: 1px solid fade(@white, 24%);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 6px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.main-nav__item {
  position: relative;
  cursor: pointer;

  &--primary {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-bottom: 34px;

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 5px;

    &:not(:last-child)::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      top: calc(50% - 2px);
      right: -18px;
      background-color: @grey-b0ac;
      border-radius: 50%;
    }
  }
}

.main-nav__link {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  line-height: 17px;
  color: @font-color-base;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__item--active .main-nav__link {
  @media (min-width: @desktop-width) {
    color: @green-base;
  }
}

.main-nav__item:hover .main-nav__link {
  color: @green-dark;
}

.main-nav__item:active .main-nav__link {
  color: @green-base;
}

@media (max-width: @tablet-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
    border-bottom: none;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 2;
    background-color: @grey-1c;
    border-bottom: 1px solid fade(@white, 24%);
  }

  .main-nav--opened::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% + 40px);
    height: 568px;
    margin-left: -20px;
    background-color: @grey-1c;
    z-index: 1;

    @media (min-width: @tablet-width) {
      height: 300px;
    }
  }
}

.main-nav--nojs .main-nav__list {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid fade(@white, 24%);

  @media (min-width: @desktop-width) {
    border-bottom: none;
  }
}

.main-nav--nojs .main-nav__item {
  margin-bottom: 20px;
}
