.main-nav__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 50px;
  border-bottom: 1px solid fade(@white, 24%);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.main-nav__item {
  position: relative;
  margin-bottom: 34px;
  cursor: pointer;

  &--primary {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 20px;
    padding: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 29px;

    &:not(:last-child)::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      top: calc(50% - 2px);
      right: -15px;
      background-color: @grey-b0ac;
      border-radius: 50%;
    }
  }
}

.main-nav__link {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  line-height: 17px;
  color: @font-color-base;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__item--active .main-nav__link {
  @media (min-width: @tablet-width) {
    color: @green-base;
  }
}

.main-nav__item:hover .main-nav__link {
  color: @green-dark;
}

.main-nav__item:active .main-nav__link {
  color: @green-base;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
    border-bottom: none;
  }

  .main-nav--opened .main-nav__list {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-left: 4px;
    background-color: @grey-1c;
    border-bottom: 1px solid fade(@white, 24%);
  }
}

.main-nav--nojs .main-nav__list {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid fade(@white, 24%);

  @media (min-width: @desktop-width) {
    border-bottom: none;
  }
}

.main-nav--nojs .main-nav__item {
  margin-bottom: 20px;
}
