.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: @mobile-width;
  display: grid;
  grid-template-columns: 55px 1fr 57px;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  margin-left: calc(50% - @mobile-width / 2);
  padding-top: 17px;
  padding-bottom: 10px;
  padding-left: calc(@padding-mobile + 4px);
  padding-right: calc(@padding-mobile + 4px);
  box-sizing: border-box;
  z-index: 10;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: @tablet-width;
    grid-template-columns: 120px 1fr 57px;
    margin-left: calc(50% - @tablet-width / 2);
    padding-left: calc(@padding-tablet + 4px);
    padding-right: calc(@padding-tablet + 4px);
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    grid-template-columns: 193px 1fr 135px 135px;
    grid-template-rows: auto;
    align-items: center;
    max-width: @desktop-width;
    margin-left: calc(50% - @desktop-width / 2);
    padding-top: 37px;
    padding-bottom: 10px;
    padding-left: @padding-desktop;
    padding-right: @padding-desktop;
  }

  &--nojs {
    position: static;
    margin: 0 auto;
    background-color: @violet;

    @media (min-width: @desktop-width) {
      position: fixed;
      max-width: @desktop-width;
      margin-left: calc(50% - @desktop-width / 2);
      padding-top: 20px;
      padding-left: @padding-desktop;
      padding-right: @padding-desktop;
    }
  }
}

@media (max-width: @mobile-width-only) {
  .page-header--opened::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: 100%;
    margin-left: -20px;
    background-color: @grey-1c;
    z-index: -1;
  }
}

.page-header--fixed {
  position: fixed;
  background-color: @violet;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: @violet;
    z-index: -5;

    @media (min-width: @tablet-width) {
      width: @tablet-width;
    }

    @media (min-width: @desktop-width) {
      width: @desktop-width;
    }
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: ~"1 / 2";
  grid-row: ~"1 / 2";
  color: inherit;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
}

.page-header__logo-image {
  fill: @white;
}

.page-header__logo-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    width: 80px;
  }
}

.page-header__logo:hover .page-header__logo-image {
  fill: @green-darker;
}

.page-header__logo:hover .page-header__logo-text {
  color: @green-dark;
}

.page-header__logo:active .page-header__logo-image {
  fill: @green-base;
}

.page-header__logo:active .page-header__logo-text {
  color: @green-base;
}


.page-header__booking {
  grid-column: ~"2 / 3";
  grid-row: ~"1 / 2";
  justify-self: center;
  margin-top: 2px;
  text-decoration: none;
  z-index: 2;

  @media (min-width: @tablet-width) {
    grid-column: ~"2 / 4";
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"3 / 4";
    justify-self: left;
    margin-left: 15px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.page-header__nav-toggle {
  position: relative;
  width: 24px;
  height: 12px;
  grid-column: ~"3 / -1";
  grid-row: ~"1 / 2";
  justify-self: end;
  align-self: center;
  background-color: transparent;
  border: none;
  border-top: 2px solid @grey-e0;
  z-index: 2;
  cursor: pointer;

  &--closed::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: @grey-e0;
  }

  &--closed::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: @grey-e0;
  }

  &--opened {
    height: 18px;
    border-top: none;
  }

  &--opened::before,
  &--opened::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 2px;
    width: 25px;
    height: 2px;
    background-color: @grey-e0;
  }

  &--opened::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened::after {
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__nav-toggle--nojs {
  display: none;
}

.page-header__nav {
  grid-column: ~"1 / -1";
  grid-row: ~"2 / 3";

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-column: ~"1 / 5";
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 3";
    grid-row: ~"1 / 2";
    margin-left: 55px;
    margin-right: 65px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-header__contacts {
  grid-column: ~"1 / -1";
  grid-row: ~"3 / 4";
  // padding-left: 4px;

  @media (max-width: @mobile-width-only) {
    &--closed .page-header__phone,
    &--closed .page-header__social {
      display: none;
    }

    &--opened {
      padding-top: 20px;
      padding-bottom: 15px;
      padding-left: 4px;
    }

    &--opened .page-header__phone {
      display: block;
      width: 100%;
      background-color: @grey-1c;
      box-sizing: border-box;
      z-index: 3;
    }

    &--opened .page-header__social {
      display: flex;
      width: 100%;
      background-color: @grey-1c;
      box-sizing: border-box;
      z-index: 3;
    }

    &--nojs {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--nojs .page-header__phone,
    &--nojs .page-header__social {
      position: static;
      display: block;
    }

    &--nojs .page-header__phone {
      padding-bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    grid-column: ~"4 / 5";
    grid-row: ~"1 / 2";
    justify-self: end;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header__phone {
  display: block;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: @font-color-base;
  text-decoration: none;

  &:hover {
    color: @green-dark;
  }

  &:active {
    color: @green-base;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header__social {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
