.page-header__logo-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.main-nav__list {
  .list-reset();
}

.main-nav__item {
  padding: 8px 10px;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.main-nav__link {
  font-weight: 500;
  line-height: 17px;
  color: @font-color-base;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: @font-color-base;
  text-decoration: none;
}
