.page-bg-container--intro {
  background-image: url("../../img/bg-intro-mask@1x.png"), url("../../img/bg-intro@1x.jpg");
  background-size: auto 100%;
  background-position: -300px 0;
  background-repeat: no-repeat;

  @media (min-width: @desktop-width) {
    background-image: url("../../img/kid_VR@1x.png"), url("../../img/bg-intro-mask@1x.png"), url("../../img/bg-intro@1x.jpg");
    background-size: 30% auto, auto 110%, 110% auto;
    background-position: right bottom, 0 -50px, 0 -50px;
  }
}

.page-bg-container--inner {
  background-image: linear-gradient(252.67deg, fade(#171a1c, 50%) 0%, fade(rgba(94, 94, 87, 0.72), 50%) 99.69%), url("../../img/bg-inner@1x.jpg");
  background-size: 200%;
  background-position: -165px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  mix-blend-mode: normal;

  @media (min-width: @desktop-width) {
    background-size: 100%;
    background-position: 0 0;
  }
}
