.page-footer {
  margin-left: -4px;
  padding-top: 80px;
  padding-bottom: 47px;
  padding-right: 8px;
}

.page-footer__copyright {
  margin-bottom: 20px;
}

.page-footer__copyright-text {
  margin: 0;
  margin-bottom: 5px;
  font-size: @font-size-text-smaller;
  line-height: 17px;
  opacity: 0.64;
}
