.product__content-container {
  padding-top: 60px;
  flex: 1 0 auto;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 136px 604px;
    grid-template-rows: min-content 46px min-content;
    padding-top: 74px;
  }
}

.product__title {
  margin: 0;
  margin-bottom: 42px;
  margin-right: auto;
}

.product__title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.product__description {
  margin-bottom: 52px;
  font-size: @font-size-text-larger;
  line-height: 26px;
}

.product__description p {
  margin: 0;
  margin-bottom: 23px;
}

@media (min-width: @desktop-width) {
  .product__title {
    grid-column: ~"1 / 4";
    grid-row: ~"1 / 2";
    margin-bottom: 0;
  }

  .product__description {
    grid-column: ~"1 / 2";
    grid-row: ~"3 / -1";
    padding-left: 30px;
  }

  .product__slider {
    position: relative;
    grid-column: ~"3 / 4";
    grid-row: ~"3 / -1";
    justify-self: left;
    padding-top: 115px;
  }
}
