.questions__item {
  padding-bottom: 10px;
  line-height: 22px;
  color: @grey-1c;
  background-color: @white;
}

.questions__item:not(:last-child) {
  margin-bottom: 5px;
}

.questions__problem {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 40px;
  font-size: @font-size-text-larger;
  font-weight: 500;
}

.questions__answer {
  margin: 0;
  padding: 8px 10px;
}
