.questions__list {
  margin-left: -8px;
  margin-right: -8px;
}

.questions__item {
  padding-bottom: 10px;
  line-height: 22px;
  color: @grey-1c;
  background-color: @white;
}

.questions__item:not(:last-child) {
  margin-bottom: 5px;
}

.questions__problem {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 40px;
  font-size: @font-size-text-larger;
  font-weight: 500;

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: @green-darker;
    background-image: url("../../img/icons/plus.svg");
    background-size: 16px 16px;
    background-position: calc(50% + 2px) calc(50% - 2px);
    background-repeat: no-repeat;
  }
}

.questions__answer {
  margin: 0;
  padding: 8px 10px;
}
