.section-footer__scrolldown {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @font-color-base;
  opacity: 0.5;
}
