.section-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: @font-size-h2-mobile;
  line-height: 32px;
  border-bottom: 3px solid @green-base;

  @media (min-width: @desktop-width) {
    display: inline-block;
    padding-right: 35px;
    font-size: @font-size-h2-desktop;
    line-height: 45px;
  }
}
