.section-footer {
  flex-shrink: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    z-index: 5;
  }
}

.section-footer__social {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 4px;
  }
}

.section-footer__scrolldown {
  position: relative;
  display: block;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @font-color-base;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    left: calc(50% - 12px);
    top: calc(20% + 7px);
    background-image: url("../../img/icons/arrow-left.svg");
    background-size: 7px 15px;
    transform: rotate(-90deg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--inner {
    top: -20px;
    margin-top: 20px;
  }

  @media (min-width: @tablet-width) {
    left: -10px;
    margin: 0 auto;

    &--inner {
      top: -15px;
    }
  }

  @media (min-width: @desktop-width) {
    top: -10px;
    left: -14px;

    &::after {
      background-size: 9px 20px;
    }
  }
}

.section-footer__scrolldown--inner .section-footer__scrolldown-text {
  display: none;
}

.section-footer__scrolldown--inner::after {
  top: -5px;

  @media (min-width: @tablet-width) {
    top: calc(20% + 7px);
  }
}
