.section-footer {
  flex-shrink: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: auto;
    align-items: center;
    z-index: 5;
  }
}

.section-footer__social {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    grid-column: ~"1 / 2";
    padding-left: 4px;
  }
}

.section-footer__scrolldown {
  position: relative;
  display: block;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @font-color-base;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    left: calc(50% - 12px);
    top: calc(20% + 7px);
    background-image: url("../../img/icons/arrow-left.svg");
    background-size: 7px 15px;
    transform: rotate(-90deg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    left: -78px;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    &--inner::after {
      top: calc(20% - 4px);
      left: 389px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 3";
    left: -23px;

    &::after {
      background-size: 9px 20px;
      left: calc(50% - 60px);
    }

    &--inner::after {
      left: calc(50% - 72px);
      top: calc(20% - 4px);
    }
  }
}

.section-footer__scrolldown-text {
  display: none;

  &--intro {
    display: block;

    @media (min-width: @desktop-width) {
      position: relative;
      left: -47px;
    }
  }
}
