.section-title {
  margin: 0;
  margin-bottom: 48px;
  padding-top: 68px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: @font-size-h2-mobile;
  line-height: 32px;
  border-bottom: 3px solid @green-base;
}
