.slider-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.slider-controls__counter {
  margin: 0;
  padding: 13px 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: @grey-ab;
  opacity: 0.87;
}

.slider-controls__counter span {
  font-weight: 500;
  color: @white;
}

.slider-controls__button-container {
  display: flex;
  background-color: @grey-1c;
}

.slider-controls__button {
  margin: 0;
  margin-right: 1px;
  padding: 0;
  width: 59px;
  height: 48px;
  background-color: @grey-1c;
  background-size: 9px 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &--prev {
    fill: none;
    stroke: @white;
  }

  &--next {
    fill: none;
    stroke: @white;
    transform: scale(-1);
  }

  &:hover {
    stroke: @green-base;
  }

  &:active {
    outline: 1px solid @green-base;
  }
}
