.slider-picture {
  text-align: center;
}

@media (min-width: @desktop-width) {
  .slider-picture__image--product {
    width: 562px;
    height: 300px;
  }

  .slider-picture__image--work {
    width: 195px;
    height: 130px;
  }

  .slider-picture__image--technology {
    width: 417px;
    height: 214px;
  }
}
