.technology__content-container {
  padding-top: 58px;
  flex: 1 0 auto;
}

.technology__title {
  margin: 0;
  margin-bottom: 48px;
}

.technology__slider {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 480px 1fr;
    grid-template-rows: auto;
    justify-items: left;
  }
}
