.work__content-container {
  counter-reset: step;
  padding-top: 58px;
}

.work__title {
  margin: 0;
  margin-bottom: 48px;
}

.work__slider-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.work__slider-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 43%;
    margin-bottom: 40px;
    z-index: 1;
  }
}

.work__slider-controls {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .work__slider-wrapper {
    justify-content: flex-start;
    padding-left: 30px;
  }

  .work__slider-item {
    width: 48%;
    margin-bottom: 64px;
  }

  .work__slider-item:nth-of-type(2n) {
    margin-top: 17px;
    margin-left: 22px;

    &::after {
      position: absolute;
      width: 50%;
      height: 47px;
      content: "";
      top: 5%;
      left: -52%;
      background-image: url("../../img/strip.svg");
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .work__slider-item:nth-of-type(4n+3) {
    margin-left: 22px;

    &::after {
      position: absolute;
      width: 94%;
      height: 83px;
      content: "";
      top: -50%;
      left: 15%;
      background-image: url("../../img/strip-long.svg");
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .work__slider-item:nth-of-type(4n) {
    &::after {
      position: absolute;
      width: 50%;
      height: 47px;
      content: "";
      top: 11%;
      left: -52%;
      background-image: url("../../img/strip.svg");
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .work__slider-item:nth-last-of-type(2),
  .work__slider-item:nth-last-of-type(1) {
    margin-bottom: 30px;
  }

  .work__slider-text {
    width: 55%;
    margin-left: 32px;
  }
}
